In [27]:
import pandas as pd
from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark'

In [11]:
df = pd.read_csv('final_whiskey_data.csv')
df.shape

(41018, 7)

In [16]:
rec_df = df.drop(columns = ['Unnamed: 0', 'url', 'price(euro)', 'price(dollar)'])
rec_df = rec_df[['user_ID', 'whiskey', 'rating']]

In [17]:
rec_df.head()

   user_ID                   whiskey  rating
0      852  1770-glasgow-single-malt      88
1      459  1770-glasgow-single-malt      87
2     1205  1770-glasgow-single-malt      86
3      547  1770-glasgow-single-malt      85
4      562  1770-glasgow-single-malt      84